body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #eaeaea;
}
a {
    color: #069080;
    text-decoration: none;
}
div.header{
    background-color: #069080;
    color: #eee;
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em 0.8em;
}
div.footer{
    text-align: right;
    font-size: 0.8em;
    padding: 0.5em 0.8em;
}
div.main{
    display: flex;
    flex-wrap: wrap;
}
div.game{
    padding: 15px;
    width: 600px;
    margin: auto;
    height: auto;
}
div.statusbar{
    float:right;
}
div.controllbar{
    float:left;
}
div.infobar {
    float: left;
    margin: 0.5ex;
}
#creepSummary {
    display: inline;
}
#creepSummary img {
    position: relative;
    height: 1em;
    top: 0.2em;
}
div.counter{
    margin: 5px;
    float: left;
}
div.towerInfo{
    position: relative;
    width: 588px;
    height: 80px;
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
}
div.towerInfo.template{
    display: none;
}
div.towerInfo.locked {
    color: #444;
    background-color: #ddd;
}
div.towerInfo .unlockInfo {
    color: red;
}
div.towerInfo:not(.locked) .unlockInfo {
    display: none;
}
div.towerInfo p{
    width: 400px;
    float:left;
    margin: 0px;
    font-size: 9pt;
}
div.towerInfo p strong {
    font-size: 11pt;
}
div.towerInfo img{
    max-width:80px;
    max-height:80px;
    float:left;
    margin-right: 10px;
}
div.towerInfo div{
    vertical-align: middle;
    text-align: right;
    float:right;
    width: 80px;
    height: 0px;
}
div.towerInfo button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 10px;
    width: 80px;
}

button.controllerButton{
    width: 8ex;
    height: 2em;
}
span.counter{
    min-width: 3ex;
    display: inline-block;
}
.hideme {
    display: none;
}
.menus {
    padding: 15px;
    width: 600px;
    margin: auto;
    height: auto;
}

.contextMenu .contextOption {
    /*Jag blir typ illamående av alla hårdkodade pixelavstånd här*/
    position: relative;
    width: 588px;
    min-height: 40px;
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.contextMenu .contextOption.template{
    display: none;
}

.contextMenu .contextOption button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 10px;
    width: 80px;
}